* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#aNow {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 2em;
    font-weight: 600;
}